html, body {
      margin: 0;
      padding: 0;
      background: #ffeca0;
      font-family: Arial, Helvetica, sans-serif;
      }
#navContent{
      margin:auto;
      width:800px;
      height:500px;
      position:relative;
      overflow:hidden;
      }
#game1{
      margin:auto;
      width:800px;
      height:500px;
      right:0px;
      position:absolute;
      }
#game2{
      margin:auto;
      width:800px;
      height:500px;
      right:-800px;
      position:absolute;
      }
.questionText{
      font-size:26px;
      color:black;
      }
.option{
      width:400px;
      height:30px;
      margin:15px;
      font-size:18px;
      color:white;
      padding:2px;
      padding-top:10px;
      padding-left:10px;
      border: 2px solid white;
      cursor:pointer;
      background-color:#1876dfff;
      }
.option:hover{
      border:#FC0 solid 2px;
      color:#FC0;
      }
.next{
      width:200px;
      height:30px;
      margin:15px;
      font-size:18px;
      color:white;
      padding:2px;
      padding-top:10px;
      padding-left:10px;
      border: 2px solid white;
      cursor:pointer;
      background-color:#1876dfff;
      float: right;
      }

#topbar{
      height:50px;
      margin:auto;
      margin-top:50px;
      color:black;
      font-size:36px;
      font-family:Arial, Helvetica, sans-serif;
      width:800px;
      border-bottom:solid black 1px;
      }
.spacer{
      height:30px;
      }
.feedback1{
      width:150px;
      padding:5px;
      font-size:30px;
      color:#FFFFCC;
      background-color:#009900;
      font-family:Arial, Helvetica, sans-serif;
      text-align:center;
      }
.feedback2{
      width:300px;
      padding:5px;
      font-size:30px;
      color:#FFFFCC;
      background-color:#CC3300;
      font-family:Arial, Helvetica, sans-serif;
      text-align:center;
      }
